@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$font-primary: 'Quicksand', sans-serif;

$font-secondary: 'Playfair Display', serif;


/* TEXT */

//XSMALL

.xs-light {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4rem;
  color: $text-primary;
}

.xs-regular {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: $text-primary;

  @media (max-width: 700px) {
    font-size: .7rem;
  }
}

.xs-medium {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: $text-primary;
}

.xs-semibold {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4rem;
  color: $text-primary;

  @media (max-width: 700px) {
    font-size: .5rem;
  }
}

.xs-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4rem;
  color: $text-primary;
}

//SMALL

.s-light {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7rem;
  color: $text-primary;
}

.s-regular {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: $text-primary;
}

.s-medium {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: $text-primary;
}

.s-semibold {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.7rem;
  color: $text-primary;

  @media (max-width: 700px) {
    font-size: 1rem;
  }
}

.s-bold {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.7rem;
  color: $text-primary;
}

//BASE

.b-light {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  color: $text-primary;
}

.b-regular {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: $text-primary;
}

.b-medium {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: $text-primary;
}

.b-semibold {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  color: $text-primary;
}

.b-bold {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  color: $text-primary;
}

//LARGE

.l-light {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: $text-primary;
}

.l-regular {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: $text-primary;
}

.l-medium {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: $text-primary;
}

.l-semibold {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: $text-primary;
}

.l-bold {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: $text-primary;
}

//H6

.h6-light {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.8rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h6-regular {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h6-medium {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h6-semibold {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h6-bold {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: $text-primary;
  font-family: $font-secondary;
}

//H5

.h5-light {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 3.4rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h5-regular {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.4rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h5-medium {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.4rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h5-semibold {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.4rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h5-bold {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  color: $text-primary;
  font-family: $font-secondary;
}

//H4

.h4-light {
  font-size: 3rem;
  font-weight: 300;
  line-height: 4rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h4-regular {
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h4-medium {
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h4-semibold {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h4-bold {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  color: $text-primary;
  font-family: $font-secondary;
}

//H3

.h3-light {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 4.9rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h3-regular {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.9rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h3-medium {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 4.9rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h3-semibold {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.9rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h3-bold {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.9rem;
  color: $text-primary;
  font-family: $font-secondary;
}

//H2

.h2-light {
  font-size: 2rem;
  font-weight: 300;
  line-height: 5.9rem;
  color: $text-secondary;
  // font-family: $font-Primary;
}

.h2-regular {
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 5.9rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h2-medium {
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 5.9rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h2-semibold {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 5.9rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h2-bold {
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 5.9rem;
  color: $text-primary;
  font-family: $font-secondary;
}

//H1

.h1-light {
  font-size: 5rem;
  font-weight: 300;
  line-height: 7rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h1-regular {
  font-size: 5rem;
  font-weight: 400;
  line-height: 7rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h1-medium {
  font-size: 5rem;
  font-weight: 500;
  line-height: 7rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h1-semibold {
  font-size: 5rem;
  font-weight: 600;
  line-height: 7rem;
  color: $text-primary;
  font-family: $font-secondary;
}

.h1-bold {
  font-size: 5rem;
  font-weight: 900;
  line-height: 140%;
  color: $text-primary;
  font-family: $font-secondary;
  @media (max-width:700px) {
    font-size: 4rem;
  }
  @media (max-width:450px) {
    font-size: 3rem;
  }
}
