:root {
    --primary: #F70A04;
    --primary-semi: #BA252A;
    --primary-light: #6cb2ef2a;
    --primary-semi-soft: #f7ffff;
    --primary-soft: #d5decb;
    --secondary: #787878;
    --secondary-tr: #f7e3ac;
    --secondary-semi: #8a8b8d;
    --secondary-light: #848484;
    --secondary-semi-soft: #a8a8a8;
    --secondary-soft: #cfcfcf;
    --tertiary: white;
    --success: #2B9176;
    --danger: #E54476;
    --danger-semi: #9f1b45;
    --woman: rgb(252, 136, 155);
    --danger-secondary: #7f2441;
    --warning: rgb(255, 217, 0);
    --info: rgb(0, 255, 255);
    --light: #F7FFFF;
    --dark: black;
  
    /* TEXT COLORS */
    --text-primary: #BA252A;
    --text-primary-semi: #BA252A;
    --text-primary-light: #a3cad9;
    --text-primary-semi-soft: #f7ffff;
    --text-primary-soft: #d5decb;
    --text-secondary: #FFE08A;
    --text-secondary-semi: #5b5b5b;
    --text-secondary-light: #848484;
    --text-secondary-semi-soft: #a8a8a8;
    --text-secondary-soft: #cfcfcf;
    --text-tertiary: white;
    --text-success: #2B9176;
    --text-danger: #E54476;
    --text-warning: rgb(255, 217, 0);
    --text-info: rgb(0, 255, 255);
    --text-light: #f9fafb;
    --text-dark: black;
  
    /* BACKGROUNDS */
    --bg-primary: #F70A04;
    --bg-primary-tr: #BA252A;
    --bg-primary-semi: #004d86;
    --bg-primary-light: #CBD6DA;
    --bg-primary-semi-soft: #f7ffff;
    --bg-primary-soft: #d5decb;
    --bg-secondary: #FFE08A;
    --bg-secondary-tr: #dec88b;
    --bg-secondary-semi: #5b5b5b;
    --bg-secondary-light: #848484;
    --bg-secondary-semi-soft: #a8a8a8;
    --bg-secondary-soft: #cfcfcf;
    --bg-tertiary: white;
    --bg-success: #2B9176;
    --bg-danger: #E54476;
    --bg-warning: rgb(255, 217, 0);
    --bg-info: rgb(0, 255, 255);
    --bg-light-semi: #cdcabb;
    --bg-light: #d9d9cd;
    --bg-dark: black;

    /* TRANSPARENCIES */
    --trans-primary: rgba(13, 32, 48, 0.106);
    --trans-secondary: rgba(255, 224, 138, 0.2);
    --trans-secondary-md: #ffe08ad3;

    --trans-tertiary: rgba(203, 196, 188, 0.5);

    --deg-primary: linear-gradient(180deg, #00a9ff 0%, #004d86 100%);
    --deg-secondary: linear-gradient(180deg, #717478 0%, #4f5257 100%);
    --deg-tertiary: linear-gradient(180deg, #e2e6ec 0%, #babcc5 100%);
    --deg-tertiary-semi: linear-gradient(180deg, #d8dce2 0%, #989aa2 100%);
    --deg-fourty: linear-gradient(180deg, #445464 0%, #00a9ff 100%);
    --deg-fift: linear-gradient(180deg, #76797c 0%, #5b5d5f 100%);
    --deg-six: linear-gradient(180deg, #868d9a 0%, #555d67 100%);
    --deg-transparent: linear-gradient(90deg, #0a579a 0%, #2670c580 100%);
  
    /* SHADOWS */
    --ds-sm: 1px 1px 1px rgb(255, 255, 255), -1px -1px 1px rgb(255, 255, 255);
    --ds-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
    --ds-s: 0px 0px 3px -1px black, 0px 0px 3px black;
    --ds-m: 0px 0px 3px -1px black, 0px 0px 3px -1px black;
    --ds-l: 0px 4px 6px -4px rgba(16, 24, 40, 0.1), 0px 10px 15px -3px rgba(16, 24, 40, 0.1);
    --ds-xl: 0px 8px 10px -6px rgba(16, 24, 40, 0.1), 0px 20px 25px -5px rgba(16, 24, 40, 0.1);
    --ds-xxl: 0px 40px 100px -12px rgba(16, 24, 40, 0.1);

    /* filter */
    --filter-primary:
  invert(14%) 
  sepia(95%) 
  saturate(7483%) 
  hue-rotate(2deg) 
  brightness(103%) 
  contrast(104%);


  --filter-white:
  invert(50%) 
  brightness(100%) 
  --filter-white-dark
  }