@keyframes smooth {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.homescreen {
  animation: smooth .5s ease;
  display: grid;
  gap: 24px;
  height: 100%;
  border-radius: 18px 18px 0px 0px;

  &-a{
    color: red;
    font-weight: 400;
    &:hover{
      color: rgb(247, 103, 103);
    }
  }

  &-titles {
    display: grid;
    gap: 5px;
    padding-left: 13%;

    @media (max-width: 1024px) {
      padding-left: 20%;
    }

    @media (max-width: 920px) {
      padding-left: 5%;
    }
  }

  &-titles-a {
    display: grid;
    gap: 5px;
    padding-left: 0%;

    @media (max-width: 1024px) {
      padding-left: 5%;
    }

    @media (max-width: 920px) {
      padding-left: 0%;
    }
  }

  &-titles-b {
    display: grid;
    gap: 5px;
    padding-left: 8%;

    @media (max-width: 1024px) {
      padding-left: 5%;
    }

    @media (max-width: 920px) {
      padding-left: 2%;
    }
  }

  &-titles-c {
    display: grid;
    gap: 5px;
    padding-left: 8%;

    @media (max-width: 920px) {
      padding-left: 5%;
    }
  }

  &__container {
    display: grid;
    padding: 8px;
    gap: 18px;

    &-contain {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;

      @media (max-width: 1025px) {
        grid-template-columns: repeat(3, 1fr);
        
      }

      @media (max-width: 900px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 300px) {
        grid-template-columns: 1fr;
      }
    }
  }


  &__strong {
    position: relative;
    text-align: center;
    z-index: 30;
  }

  &__h1{
    font-size: 30px;
    margin: 25px 0;
  }
  &__h2 {
    font-size: 25px;
    position: relative;
    margin-left: -130px;
    transform: translateX(-120%);
    transition: all ease .4s;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.548), -1px -1px 1px rgba(255, 255, 255, 0.548);
    z-index: 10;

    @media (max-width: 920px) {
      margin: 0;
    }
  }

  &__p2 {
    position: relative;
    margin-left: -130px;
    transform: translateX(220%);
    width: 70%;
    z-index: 10;
    transition: all ease .4s;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.448), -1px -1px 1px rgba(255, 255, 255, 0.448);


    @media (max-width: 920px) {
      margin: 0;
    }
  }

  &__h3 {
    font-size: 25px;
    position: relative;
    margin-left: 80px;
    transform: translateX(-120%);
    transition: all ease .4s;
    z-index: 10;
    transition: all ease .4s;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.548), -1px -1px 1px rgba(255, 255, 255, 0.548);
        @media (max-width: 920px) {
      margin: 0;
      padding: 20px;
    }
  }

  &__p3 {
    position: relative;
    margin-left: 80px;
    transform: translateX(200%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.548), -1px -1px 1px rgba(255, 255, 255, 0.548);
    transition: all ease .4s;
    width: 70%;
    z-index: 10;
        @media (max-width: 920px) {
      margin: 0;
      padding: 20px;
      width: 100%;
    }
  }

  &__h4 {
    position: relative;
    transform: translateX(-120%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.548), -1px -1px 1px rgba(255, 255, 255, 0.548);
    transition: all ease .4s;
    margin-left: 40px;
    width: 85%;
    font-size: 20px;
    z-index: 10;

    @media (max-width: 920px) {
      margin: 0;
      padding: 0 10px;
    }
  }

  &__p4 {
    position: relative;
    transform: translateX(120%);
    transition: all ease .4s;
    margin-left: 40px;
    font-size: 14px;
    width: 75%;
    z-index: 10;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.548), -1px -1px 1px rgba(255, 255, 255, 0.548);

    @media (max-width: 920px) {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }

  &__h5 {
    position: relative;
    transform: translateX(-120%);
    transition: all ease .4s;
    margin-left: 20px;
    font-size: 20px;
    z-index: 10;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.548), -1px -1px 1px rgba(255, 255, 255, 0.548);

    @media (max-width: 920px) {
      margin: 0;
      padding: 0 10px;
    }
  }

  &__p5 {
    position: relative;
    transform: translateX(120%);
    transition: all ease .4s;
    margin-left: 20px;
    font-size: 14px;
    width: 85%;
    z-index: 10;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.548), -1px -1px 1px rgba(255, 255, 255, 0.548);

    @media (max-width: 920px) {
      margin: 0;
      padding: 0 10px;
    }
  }

  &-header {
    display: grid;
    height: 400px;
    overflow: hidden;
    border-radius: 18px;

    @media (max-width: 920px) {
      height: 800px;
      overflow: visible;
    }

    &__contain {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      display: grid;
      width: 100%;
      height: 100%;
      gap: 5px;

      @media (max-width: 920px) {
        grid-template-rows: repeat(5, 1fr);
        overflow: visible;
      }


      &-item {
        position: relative;
        display: grid;
        place-items: center;
        grid-row: 1 / 6;
        grid-column: 1 / 3;
        width: 108%;
        height: 100%;
        background: #1c1b20;
        padding: 20px;
        clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
        overflow: hidden;
        border-radius: 15px;

        @media (max-width: 920px) {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          width: 100%;
          height: auto;
          margin-left: 0%;
          grid-column: 1 / 6;
          grid-row: 1 / 3;
        }
        @media (max-width: 380px) {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          width: 100%;
          margin-left: 0%;
          grid-column: 1 / 5;
          grid-row: 1 / 2;
        }

        img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          // transform: skewX(15deg);
        }

        &::before {
          content: "";
          transition: all ease .4s;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 10;
          left: 0;
        }

        &:hover::before {
          z-index: 10;
          transition: all ease .4s;
          background: rgba(255, 255, 255, 0.541);
          backdrop-filter: blur(2px);
        }

        &:hover .homescreen__h2 {
          transform: translateX(0%);
        }
        &:hover .homescreen__p2 {
          transform: translateX(0%);
       }

      }

      &-item1 {
        position: relative;
        display: grid;
        place-items: center;
        grid-row: 1 / 3;
        grid-column: 3 / 5;
        width: 100%;
        height: 100%;
        transition: all ease .4s;
        clip-path: polygon(8.5% 0, 100% 0, 100% 100%, 0% 100%);
        overflow: hidden;
        border-radius: 15px;

        @media (max-width: 920px) {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          grid-row: 3 / 4;
          grid-column: 1 / 6;
          margin-left: 0;
        }

        @media (max-width: 380px) {
           clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          grid-row: 2 / 3;
          grid-column: 1 / 6;
          margin-left: 0;
        }

        img {
          position: absolute;
          width: 100%;
          object-fit: cover;
          // left: -30px;
          // transform: skewX(15deg);

          @media (max-width: 920px) {
            height: 100%;
            // width: 160%;
          }
        }

        &::before {
          content: "";
          transition: all ease .4s;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 10;
          left: 0;
        }

        &:hover::before {
          z-index: 10;
          transition: all ease .4s;
          background: rgba(255, 255, 255, 0.541);
          backdrop-filter: blur(2px);
        }

        &:hover .homescreen__h3 {
          transform: translateX(0%);
        }
        &:hover .homescreen__p3 {
          transform: translateX(0%);
       }

      }

      &-item2 {
        position: relative;
        display: grid;
        place-items: center;
        grid-row: 3 / 6;
        grid-column: 3;
        width: 126%;
        margin-left: -53px;
        height: auto;
        //  transform: skewX(-15deg);
        // background: green;
        overflow: hidden;
        border-radius: 15px;
        clip-path: polygon(14% 0, 100% 0, 90% 100%, 0% 100%);

        @media (max-width: 920px) {
          margin: 0;
          width: 100%;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          grid-row: 4 / 5;
          grid-column: 1 / 3;
        }
        @media (max-width: 480px) {
          margin: 0;
          width: 100%;
          height: fit-content;
          grid-row: 4 / 5;
          grid-column: 1 / 3;
        }
        @media (max-width: 380px) {
          margin: 0;
          width: 100%;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          grid-row: 3 / 4;
          grid-column: 1 / 6;
        }

        img {
          position: absolute;
          width: 100%;
          object-fit: cover;
          left: 0;
          // transform: skewX(15deg);

          @media (max-width: 920px) {
            transform: skewX(0deg);
          }
        }

        &::before {
          content: "";
          transition: all ease .4s;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 10;
          left: 0;
        }

        &:hover::before {
          z-index: 10;
          transition: all ease .4s;
          background: rgba(255, 255, 255, 0.541);
          backdrop-filter: blur(2px);
        }

        &:hover .homescreen__h4 {
          transform: translateX(0%);
        }
        &:hover .homescreen__p4 {
          transform: translateX(0%);
       }

      }

      &-item3 {
        position: relative;
        display: grid;
        place-items: center;
        grid-row: 3 / 6;
        grid-column: 4;
        width: 100%;
        height: auto;
        //  transform: skewX(-15deg);
        // background: palevioletred;
        overflow: hidden;
        border-radius: 15px;
        clip-path: polygon(12.5% 0, 100% 0, 100% 100%, 0% 100%);

        @media (max-width: 920px) {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          transform: skewX(0deg);
          grid-row: 4 / 5;
          grid-column: 3 / 5;
        }
                @media (max-width: 480px) {
          margin: 0;
          width: 100%;
          height: fit-content;
          grid-row: 4 / 5;
          grid-column: 3 / 5;
        }
        @media (max-width: 380px) {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          transform: skewX(0deg);
          grid-row: 4 / 5;
          grid-column: 1 / 5;
        }

        img {
          position: absolute;
          height: 100%;
          // left: -30px;
          
          @media (max-width: 920px) {
            object-fit: cover;
            width: 100%;
          }

        }

        &::before {
          content: "";
          transition: all ease .4s;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 10;
          left: 0;
        }

        &:hover::before {
          z-index: 10;
          transition: all ease .4s;
          background: rgba(255, 255, 255, 0.541);
          backdrop-filter: blur(2px);
        }

        &:hover::before {
          z-index: 10;
          transition: all ease .4s;
          background: rgba(255, 255, 255, 0.541);
          backdrop-filter: blur(2px);
        }

        
        &:hover .homescreen__h5 {
          transform: translateX(0%);
        }
        &:hover .homescreen__p5 {
          transform: translateX(0%);
       }

      }
    }
  }
}
.dashsections{
  display: grid;
  gap: 12px;
  background: transparent;
  align-items: start;
  align-content: start;
  width: 100%;
  
  &-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    background: white;
    padding: 24px;
    gap: 10px;
    &-nav{
      display: flex;
      list-style: none;
      gap: 50px;
      a{
        color: black;
        font-weight: 400;
        &:hover{
          color: #EC3337;
        }
      }

    }
  }
  &-paymentcards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    align-content: start;
    gap: 10px;
  }
  &-bankcards{
    align-content: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    gap: 20px;

    &-cards{
      width: 100%;
      height: 100%;
      display: grid;
      align-items: center;
      background: white;
      border-radius: 10px;
      padding: 24px;
      gap: 25px;
      &-btn{
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        background: white;
        border-radius: 10px;
        padding: 24px;
        gap: 25px;
        color: black;
        &:hover{
          color: rgba(0, 0, 0, 0.566);
        }
      }
    }
  }
  &-contain{
    display: grid;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    // background: white;
    border-radius: 10px;
  }
}
.top{
  @media (max-width: 920px) {
    margin-top: 180px;
  }
  @media (max-width: 420px) {
    margin-top: 390px;
  }
  @media (max-width: 320px) {
    margin-top: 200px;
  }

}

.grid{
  display: grid;
  gap: 7px;
}
.grid-center{
  align-items: center;
  text-align: center;
  display: grid;
}

.flex{
  display: flex;
  gap: 7px;
  justify-content: space-between;
  align-items: center;
}
.flexsmall{
  justify-content: center;
  display: flex;
  gap: 7px;
  align-items: center;
}