@import './assets/sass/_colors.css';
@import './assets/sass/displays';
@import './assets/sass/css/_paddings.scss';
@import './assets/sass/css/_typography.css'; 
@import './assets/sass/css/_resetFontSize.css';

.sections{
  display: grid;
  gap: 25px;
  width: 100%;
  // height: 80%;
  background: white;
  border-radius: 0px 0px 18px 18px;
  padding: 25px;
  animation: smooth .3s ease;
  color: black;
  // border: #007a5a 1px solid;

  &-container{
      display: grid;
      gap: 15px;
      // height: 80%;
      // background: #20b556;
  }
  &-contain{
    display: grid;
    gap: 15px;
    h2{
      margin: 25px 0;
    }
  }
  &-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    
    @media (max-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
.orders{
      display: grid;
      gap: 15px;
  &-card{
    display: grid;
    border: 1px solid #e9ebeb;
    gap: 25px;
    border-radius: 15px;
    padding: 10px;

    &-actions{
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    &-complete{
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    &-user{
      display: grid;
      box-shadow: var(--ds-s);
      border-radius: 10px;
      padding: 10px;
      gap: 5px;
    }
    &-admin{
      display: flex;
      gap: 5px;
    }

    &-capturepayment{
      display: grid;
      gap: 10px;
    }
  }
  &-pending{
    display: grid;
    gap: 15px;
    align-content: start;
    &-user{
      &-list{
        display: flex;
        gap: 10px;
        align-content: start;
      }
    }
    &-list{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-content: start;
      gap: 10px;
      @media (max-width: 680px) {
        grid-template-columns: 1fr;
        
      }
    }
  }
  &-products{

    &-grid{
      display: flex;
      flex-wrap: nowrap;
    }
&-item{
  img{
    width: 50px;
      @media (max-width: 680px) {
        width: 30%;
      }
  }

}
  }
}
// estilos de pantalla términos y condiciones y similares
.tycsection{
  display: grid;
  width: 100%;
  height: 100%;
  // border: #007a5a 1px solid;
  gap: 16px;
  &-header{
    padding: 24px;
    background: white;

    span{
      letter-spacing: 3px;
    }
  }
  &-rules{
    display: grid;
    background: white;
    padding: 24px;
    gap: 10px;

    strong{
      font-weight: 600;
    }
  }
}


.legaldocs{
  display: grid;
  width: 100%;
  height: 100%;
  border: #007a5a 1px solid;
  gap: 16px;
  &-header{
    padding: 24px;
    background: white;

    span{
      letter-spacing: 3px;
    }
  }
  &-rules{
    display: grid;
    background: white;
    padding: 24px;
  }
}
// fin estilos de pantalla términos y condiciones y similares

// estilos de pantalla checkout
.checkout{
  display: grid;
  padding: 25px;
  gap: 25px;
  grid-template-columns: 70% 1fr;
  @media (max-width: 680px) {
    grid-template-columns: 1fr;
  }
  &-left{
    align-content: baseline;
    display: grid;
    gap: 10px;
    &-info{
      display: flex;
      justify-content: space-between;
    }
    &-boxproducts{
      display: flex;
      gap: 10px;
      strong{
        font-weight: 500;
        font-size: 12px;
        word-break: break-all;
      }
      h3{
        font-size: 14px;
        word-break: break-all;
      }
    }
    &-img{
      display: grid;
      gap: 10px;
      img{
        width: 50%;
        object-fit: cover;
      }

      &-info{
        display: grid;
        width: 100%;
        height: 100%;
        font-size: 12px;
        word-break: break-all;
      }
    }
  }
  &-right{
    gap: 10px;
    display: grid;
    align-items: start;
    height: fit-content;
    &-info{
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }
  &-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
      strong{
        font-weight: 600;
        font-size: 16px;
      }
  }
}
// fin estilos de pantalla checkout

// estilos de pantalla comentarios
.comments{
  gap: 10px;
  align-items: start;
  display: grid;
  background: white;
  border-radius: 16px;
  padding: 25px;
  height: fit-content;

  @media (max-width: 680px) {
    padding: 12px;
    align-items: center;
  }
  &-addcomment{
    display: grid;
  }
  &-form{
    display: grid;
    // border: #EC3337 1px solid;
    align-items: center;
    form{
      align-items: center;
      
      display: grid;
      grid-template-columns: 7% 1fr 10%;
      gap: 10px;

      @media (max-width: 680px) {
        align-items:center;
        display: grid;
        grid-template-columns: 1fr;
      }

      input{

      }
      textarea{
        width: 100%;
        outline: none;
        border-radius: 10px;
        border: rgb(211, 208, 208) 1px solid;
        padding: 10px;

        @media (max-width: 680px) {
          height: 70px;
          background: transparent;
        }
      }
      button{
        height: fit-content;
        font-size: 12px;
      }
    }
  }
  &-list{
    height: 200px;
    border: rgb(211, 208, 208) 1px solid;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
// fin estilos de pantalla comentarios


// estilos de pantalla productos
.containers{
  background: white;
  width: 100%;
  display: grid;
  border-radius: 18px 18px 0px 0px;
  gap: 25px;
  padding: 25px;
  place-content: center;
  justify-content: center;
  place-items: center;
  align-items: center;
}
.productscreen{
  position: relative;
  display: grid;
  gap: 25px;
  width: 100%;
  background: white;
  border-radius: 18px 18px 0px 0px;
  padding: 25px;
  animation: smooth .5s ease;
  grid-template-columns: 20% 1fr;
  
  @media (max-width: 1280px) {
    grid-template-columns: 20% 1fr;
  }

    @media (max-width: 1025px) {
      grid-template-columns: 1fr;
    }

  &-showroute{
    display: grid;
    font-size: 16px;
    font-weight: 600;
  }
  &-header{
    display: grid;
    width: 100%;
    height: fit-content;
    grid-column: 1 / 3;
    grid-row: 1 ;
  }
  &-contains{
  display: grid;
  width: fit-content;
  height: 100%;
  gap: 150px;
  place-items: center;
    &-services{
      display: flex;
      width: fit-content;
      align-items: center;
      justify-content: center;
      // border: #007a5a 1px solid;
      gap: 24px;
      img{
        width: 20%;
        filter: invert(60%);
        // margin: auto;
      }
      &:nth-child(2){
        flex-direction: row-reverse;
        
                img{
                  filter: var(--filter-primary)
                }
      }
        p{
          font-size: 1.5rem;
        }
      
        @media (max-width: 820px) {
          display: grid;
          place-items: center;
              img{
                  width: 60%;
               }
              p{
          font-size: 1.8rem;
          text-align: center;
        }
        }

        &-info{
          width: 50%;
          display: grid;
          gap: 24px;
          @media (max-width:680px) {
            width: 100%;
          }
        }
    }
}
  &-container{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 50vh;
    grid-column: 2 / 3;
    grid-row: 2;
    display: grid;
    @media (max-width: 1025px) {
      grid-template-columns: 1fr;
      grid-column: 1 / 3;
      grid-row: 3;
    }
    @media (max-width: 980px) {
      grid-column: 1 / 3;
    }

}

  &-features{
    position: relative;
    grid-column: 1 ;
    grid-row: 2;
    display: grid;
    width: 100%;
    height: fit-content;
    padding: 0px;
    
    @media (max-width: 1025px) {
      position: absolute;
      left: 0;
    }
    
    
    &-menu{
      gap: 5px;
      transition: all ease .5s;
      border-radius: 0px 10px 10px 0px;
      position: relative;
      background: #eef3f7;
      display: grid;
      width: 100%;
      z-index: 200;
      
      
      &-btn{
        z-index: 250;
        position: relative;
        display: none;
        background: var(--danger);
        border-radius: 0px 10px 10px 0px;
        margin: 0;
        padding: 0;
        top: 100px;

    @media (max-width: 1025px) {
      display: grid;
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 40px;
      cursor: pointer;
      transform: translateX(100%);
      
      &::before{
        position: absolute;
        content: "";
        transform: translateX(100%);
          margin: auto;
          width: 50%;
          height: 35%;
          bottom: 0;
          right: 0;
          top: 0;
          left: 0;
          background: var(--light);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
          
          transform: rotate(-180deg);
        }
    }
      }

    @media (max-width: 1025px) {
      border-radius: 0px 0px 10px 0px;
      position: absolute;
      width: fit-content;
      top: -20px;
      left: -70px;
    }

    @media (max-width: 625px) {
      position: absolute;
      width: fit-content;
      left: -54px;
    }
    @media (max-width: 520px) {
      position: absolute;
      width: fit-content;
      left: -32px;
    }
  }

      button {
    text-align: left;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 10px 10px 5px;
    color: var(--dark);
    border-bottom: 2px solid transparent;
    border-radius: 0;
    background: transparent;

    &:first-child{
      border-radius: 10px 10px 0 0;
    }
    &:last-child{
      border-radius: 0 0 10px 10px;
    }

    &.active {
      color: var(--primary);
      font-weight: 600;
      border-bottom: 2px solid var(--primary);
    }
  }

  }

  &-empty{
    padding-top: 200px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
    place-content: center;
    justify-content: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-cards{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 24px;
    
    @media (max-width: 1026px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
    @media (max-width: 625px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }


}

.show {
  transition: all ease .4s;
  transform: translateX(0%);
}
.hide {
  transition: all ease .4s;
  transform: translateX(-103%);
  
}
.showBtn {

  transition: all ease .4s;
          &::before{
          position: absolute;
          content: "";
          margin: auto;
          bottom: 0;
          right: 0;
          top: 0;
          left: 0;
          background: var(--  primary);
          transform: rotate(-0deg);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);

        }
}
.hideBtn{
  transition: all ease .4s;
       background: var(--primary);

        &::before{
          position: absolute;
          content: "";
          margin: auto;
          bottom: 0;
          right: 0;
          top: 0;
          left: 0;
          background: var(--light);
          clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

          transform: rotate(-180deg);
        }
}
// fin estilos de pantalla productos

/* menu vertical de política de privacidad */
.verticalmenu{
display: grid;
gap: 7px;
 a{
  color: black;
  &:hover{
    color: #EC3337;
  }
 }
}
/* fin menu vertical de política de privacidad */

/* estilos de componente checkbox */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 6px;
  background-color: transparent;
  border: gray 1px solid;
}

/* On mouse-over, add a grey background color */
// .checkbox:hover input ~ .checkmark {
//   background-color: #ccc;
// }

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background: linear-gradient(0deg, #007a5a, #007a5a), #20b556;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
  .swal-confirm-btn {
  background: var(--primary) !important;
  color: white !important;
  border-radius: 8px !important;
  padding: 6px 18px !important;
  font-weight: 400 !important;
  font-size: 14px;
  transition: all 0.25s ease !important;

  &:hover{
    background: var(--primary-semi) !important;
  }
}

  .swal-custom-popup{
    border-radius: 10px !important;
  }

  .swal-cancel-btn {
  background: var(--danger) !important;
  color: white !important;
  border-radius: 8px !important;
  padding: 6px 18px !important;
  font-weight: 400 !important;
  font-size: 14px;
  transition: all 0.25s ease !important;

  &:hover{
    background: var(--danger-secondary) !important;
  }
}
.swal2-loader {
  border-color: var(--primary) transparent var(--primary) transparent !important;
}

.swal2-success {
    border-color: var(--primary) !important;
    color: var(--primary) !important;
}

.swal2-icon.swal2-success {
  border-color: var(--primary) !important;
  color: var(--primary) !important;
}

.swal2-success-line-tip,
.swal2-success-line-long {
  background-color: var(--primary) !important;
}

.swal2-success-ring {
  border-color: var(--primary) !important;
}

.swal2-success-fix {
  background-color: transparent !important;
}

/* fin de estilos de componente checkbox */

/* estilos de tab bootstrap */
 .nav {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        width: fit-content;
        border-bottom: var(--primary-light) 1px solid;
        
      }
      
      .nav-link {
        display: grid;
        font-size: 16px;
        gap: 5px;
        color: black;
        text-decoration: none;
        background: white;
        border: var(--primary-light) 1px solid;
        transition: all ease .5s;
        border-radius: 8px 8px 0 0;
        padding: 5px 20px;
        
        &:hover {
          background: var(--primary);
          color: white;
          transform: scale(1.05);
          border-radius: 8px 8px 0 0;
            
        }

    }

    .nav-tabs .nav-link.active {
        background: var(--primary);
        color: white;
        border-bottom: var(--primary) 1px solid;
        border-radius: 8px 8px 0 0;
    }

        
    
    .nav-tabs .nav-item.show{
        border: #EC3337 1px solid;
        display: grid;
    }
  
    