.productslayout{
    display: grid;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &-header{
        z-index: 999;
        display: grid;
        position: sticky;
        width: 100%;
        height: fit-content;
        top: 0;
        
    }

    &-contain{
        display: grid;
    }

    &-footer{
        display: grid;
        width: 100%;
        height: fit-content;
        color: white;
    }
}