@keyframes fades {
    from{
       opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.detailproduct{
    animation: fades .5s ease backwards;
    display: grid;
    padding: 12px;
    gap: 25px;
    @media (max-width: 720px) {
        overflow-y: scroll;
        padding: 12px;
        gap: 15px;
    }
    &__prevprice{
        color: #EC3337;
        font-weight: 500;
        text-decoration:line-through;
        font-size: 17px;
    }
    &-containerr{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 40% 40% 1fr;
        gap: 13px;
        
        
        @media (max-width: 720px) {
            grid-template-columns: 1fr;
            height: fit-content;
            
        }
    }
    &-contain{
        display: grid;
        gap: 6px;
        margin: 0;
        height: 69%;
        @media (max-width: 720px) {
            height: 100%;
        }

        &-box{
            display: grid;
            margin: 0;
            padding: 0;
            gap: 6px;
        }
        &-btns{
            display: grid;
            gap: 5px;
        }
        &-group{
            display: grid;
            grid-template-columns: 70% 30%;
            height: 100%;
            gap: 5px;
        }
        &-info{
            display: flex;
            
            h2{
                font-size: 18px;
                font-weight: 600;
            }
        }
        &.scroll{
            
            overflow-y: scroll;
            &::-webkit-scrollbar{
                width: 10px;
                height: 30px;
                margin: 1px;
                background: rgba(128, 128, 128, 0.242);
                border-radius: 10px;
            }
            &::-webkit-scrollbar-track{
                width: 7px;
                height: 50px;
            }
            &::-webkit-scrollbar-thumb{
                background: rgba(22, 21, 21, 0.091);
                width: 5px;
                border-radius: 10px;
                border: rgba(128, 128, 128, 0.295) 1px solid;
                height: 30px;
            }
            &::-webkit-scrollbar-track-piece{
                background: rgba(128, 128, 128, 0.005);
                border-radius: 10px;
                width: 10px;
                height: 10px;
            }
        }
    }
}