@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(100%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}
.footer {
  margin-top: 50px;

  &-up {
    display: grid;
    
    place-items: center;
    background: #727376;

    &__a {
      padding: 20px 0;
      text-align: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;

      &:hover{
        background: rgba(255, 255, 255, 0.086);
        color: #EC3337;
      }
    }
  }

  &-middle {
    display: grid;
    padding: 32px 24px;
    background: #4c4747;
    place-items: center;

    &__newsletter{
      grid-column: 2 / 5;
      grid-row: 2 / 3;
      align-items: center;
      display: grid;
      
      @media (max-width: 620px) {
        grid-row: 4;
        grid-column: 1 / 3;
      }
    }
    &__group{
      border: #575757 1px solid;
      border-radius: 18px;
      padding: 24px;
      height: fit-content;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr min-content;
      width: 100%;
      gap: 8px;

      @media (max-width: 580px) {
        grid-template-columns: 1fr;
        gap: 16px;
      }
    }
    &__group2{
      border-radius: 18px;
      padding: 0 24px;
      height: fit-content;
      align-items: center;
      display: flex;
      width: 100%;
      gap: 8px;

      p{
        color: rgb(168, 167, 167);
      }
    }
    &__content{
      display: grid;
      h2{
        font-weight: 400;
      }
      gap: 18px;
    }

    &__contain {
      display: grid;
      width: 75%;
      grid-template-columns: repeat(4, 1fr);
      height: fit-content;
      gap: 16px;

      @media (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
      }

      @media (max-width: 399px) {
        grid-template-columns: 1fr;
        width: 100%;
      }
    }
    
    &__links {

      width: 100%;
      display: grid;
      height: fit-content;

      gap: 8px;

      a {
        color: rgb(168, 167, 167);
        text-decoration: none;
        font-size: 16px;
        font-weight: 200;

        &:hover {
          color: rgb(209, 206, 206);
        }
      }

      h2 {
        font-weight: 500;
        font-size: 18px;
        border-bottom: #575757 1px solid;
        padding-bottom: 5px;
      }
    }
  }

  &-down {
    display: grid;
    padding: 20px;
    background: black;
    place-items: center;
    &__container{
      display: flex;
      align-items: center;
      gap: 10px;
      img{
        height: 30px;
        filter: brightness(500%);
      }
    }
  }
}