.headdash{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #ebe9e9, -1px -1px 2px #ebe9e9;
    padding: 0 10px;
    z-index: 999;
    align-items: center;
    @media (max-width: 920px) {
        padding: 20px;
    }
    @media (max-width: 450px) {
        padding: 10px 10px;
    }
    &-logo{
        display: grid;
        width: 80px;

        @media (max-width: 450px) {
            padding: 10px;
            width: 90px;
        }
        a{
            align-items: center;
            display: grid;
            width: 100%;
            height: 100%;

            img{
                width: 100%;   
            }
        }
    }

    &-group{
        display: flex;
        align-items: center;
        border: black 1px solid;
        gap: 20px;
        @media (max-width: 920px) {
            flex-direction: row-reverse;
            flex-direction: none;
        }
        @media (max-width: 300px) {
            gap: 10px;
        }
    }

    &-useravatar{
        position: relative;
        display: flex;
        width: fit-content;
        place-items: center;
        // border: black 1px solid;
        height: 50px;
    }
    &-menuhamb{
        position: relative;
        display: none;
        width: 40px;
        height: 100%;
        cursor: pointer;

        @media (max-width: 920px) {
            align-items: center;
            display: grid;
            width: 30px;
            height: 100%;
            z-index: 999;
        }
        img{
            position: absolute;
            width: 100%;
        }
    }
}