.rating{
    display: grid;
    // border: black 1px solid;
    width: 100%;
    height: fit-content;
    h2{
        font-size: 40px;
        line-height: 1.1 ;
    }
    .star {
        position: relative;
        fill: gray;
        white-space: nowrap;
        svg {
          width: 20px;
          cursor: pointer;
        }
      }
      
      .cover {
        background: white;
        height: 100%;
        overflow: hidden;
        mix-blend-mode: color;
        position: absolute;
        top: 0;
        right: 0;
      }
      
      svg {
        position: relative;
        fill: rgb(195, 191, 191);
        width: 20px;
        stroke: black;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-width: 1px;
        
        &::before{
            top: 0;
            left: 0;
            position: absolute;
            content: "";
            width: 21px;
            height: 21px;
            background: black;
        }
      }
    .selected{
        color: rgb(226, 218, 218);
        cursor: default;
        transition: all ease .3s;
        svg{
            fill: red;
            transform: scale(1.2);
            margin: 0 2px;
        }
    }
    .flex{
        display: flex;
        margin: 0;
        padding: 0;
        gap: 1px;
        align-items: center;
        width: 100%;
        height: fit-content;
        // border: green 1px solid;
    }
    .group{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0 10px;
        h4{
            font-weight: 800;
            font-size: 18px;
            // line-height: 1.2;
            height: 100%;
            margin-bottom: 3px;
        }
        p{
            font-weight: 500;
            font-size: 14px;

        }
    }
}