.sections{
    display: grid;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: white;
    border-radius: 18px 18px 0px 0px;
    padding: 25px;

    &-container{
        display: grid;
        
        gap: 15px;
        grid-template-columns: repeat(4, 1fr);
    }
}